.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
}

.card__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin-left: 8px;
  margin-right: 8px;
}
